$distance: 40pt;

.slide-anim {
    opacity: 0;
    transform: translateX(-$distance);
    transition: opacity 1s ease-in-out;
    transition: transform 0.7s ease-in-out;
 }
 .slide-anim.animated {
    opacity: 1;
    transform: translateX(0);
 }

 .appear-anim {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
 }
 .appear-anim.animated {
    opacity: 1;
 }