@import "angled-edges.scss";
@import "animations.scss";
@import "menu.scss";

$cloud-black: rgb(0, 29, 41);
$aquarina: rgb(0, 153, 157);
$bay-blue: rgb(0, 154, 200);
$orangerine: rgb(228, 60, 38);
$red-pinkerton: rgb(198, 36, 77);
$padding: 40pt;
$gradient-red: linear-gradient(to right, $orangerine, $red-pinkerton);
$gradient-blue: linear-gradient(to right, $aquarina, $bay-blue);
$breakpoint: 700px;
$column-width: 600px;
$border: 5px;
$border-thin: 1.5px;

@font-face {
   font-family: "Work Sans";
   src: url("/font/Work_Sans/WorkSans-VariableFont_wght.ttf");
   font-weight: 125 950;
   font-stretch: 75% 125%;
   font-style: normal;
}

@font-face {
   font-family: "Work Sans Italic";
   src: url("/font/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf");
   font-weight: 125 950;
   font-stretch: 75% 125%;
   font-style: italic;
}

@font-face {
   font-family: "Arimo";
   src: url("/font/Arimo/Arimo-Regular.ttf");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "Arimo";
   src: url("/font/Arimo/Arimo-Bold.ttf");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: "Arimo";
   src: url("/font/Arimo/Arimo-BoldItalic.ttf");
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: "Arimo";
   src: url("/font/Arimo/Arimo-Italic.ttf");
   font-weight: 400;
   font-style: italic;
}

:root {
   font-family: "Arimo", sans-serif;
}
html, body {
   overflow-x: hidden;
}
body {
   margin: 0 0 0 0;
   padding: 0 0 0 0;
}

header { // title page header
   font-family: "Work Sans", sans-serif;
   font-weight: 100;
   color: $cloud-black;

   h1 {
      font-family: "Work Sans", sans-serif;
      font-weight: 800;
      font-size: 55pt;
      line-height: 100%;
      color: $cloud-black;
      margin-top: 0;
      margin-bottom: 0;
   }
   @media(max-width: $breakpoint) {
      h1 {
         font-size: 30pt;
      }
   }
   
   h1 + p { // subtitle
      font: {
         family: Arimo, sans-serif;
         size: 18pt;
         weight: normal;
      }
      line-height: 18pt;
      margin-top: 5pt;
      margin-bottom: 15pt;
      color: white;
   }
}

header {
   h2 + p { // section page header
      font-family: Arimo, sans-serif;
      font-size: 8pt;
      line-height: 14.4pt;
      color: $cloud-black;
   }
}

section {
   h2 {
      text-align: center;
      font-weight: 800;
   }
}

p, ul, ol, li, label, input, textarea {
   font-family: Arimo, sans-serif;
   margin-top: 0;
   margin-bottom: 12pt;
   font-size: 12pt;
   line-height: 150%;
   color: $cloud-black;
}
p.hero {
   font-size: 18pt;
   margin-top: 0;
   margin-bottom: 5pt;
}

h2 {
   font-family: "Work Sans Light", "Work Sans", sans-serif;
   font-size: 30pt;
   line-height: 36pt;
   color: $cloud-black;
}
@media(max-width: $breakpoint) {
   h2 {
      font-size: 20pt;
      line-height: 120%;
      font-weight: medium;
   }
}

h3 {
   font-family: "Work Sans", sans-serif;
   font-weight: 400;
   font-size: 16pt;
   font-weight: bold;
   margin-top: 20pt;
   margin-bottom: 3pt;
   line-height: 130%;
   overflow: visible;
   color: $cloud-black;

   .main-header {
      float: left;
   }
}
.side-header {
   font-size: 12pt;
   font-family: "Work Sans", sans-serif;
   font-weight: normal;
   font-style: normal;
   text-align: right;
   color: $red-pinkerton;
   float: right;
   max-width: 50%;
   margin: 2pt;
   margin-bottom: 0;
   margin-top: 5pt;
   line-height: 120%;
   overflow: visible;
}
@media(max-width: $breakpoint) {
   .side-header {
      max-width: 100%;
      display: block;
      float: none;
   }
}

h4 {
   font-family: Arimo, sans-serif;
   font-size: 9pt;
   line-height: 10.8pt;
   opacity: 0.5;
}

.margined {
   padding: $padding;
}
@media(min-width: $breakpoint) {
   .margined {
      padding: $padding 0;
      max-width: $column-width;
      margin-left: auto;
      margin-right: auto;
   }
}
.margined + .margined {
   padding-top: 0;
}

div.ignore-columns {
   column-span: all;
}


a {
   text-decoration: none;
   font-weight: bold;
}
p a, blockquote a, li a {
   color: $aquarina;
   position: relative;
   //border-bottom: $border solid $bay-blue;

   &::after {
      content: "";
      background: rgba($aquarina, 0.1);
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 100%;
      height: 100%;
      z-index: -1;
      transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
   }

   &:hover:after {
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 100%;
   }

   &:active:after {
      height: 50%;
   }
}
a.button {
   font: {
      weight: 800;
      family: "Work Sans", sans-serif;
   }
   color: white;
   background: $red-pinkerton;
   padding: $border * 2 $border * 4;
   margin-right: $border * 2;
   margin-top: $border * 4;
   margin-left: 0;
   margin-bottom: 0;
   display: inline-block;

   &:hover {
      opacity: 0.80;
      cursor: pointer;
   }
   &:active {
      cursor: wait;
      opacity: 0.60;
   }
}

.red {
   background-image: $gradient-red;

   h1, p {
      color: white;
   }
   a.button {
      color: $red-pinkerton;
      background: white;
   }
}
.blue {
   background-image: $gradient-blue;

   h1, p {
      color: white;
   }
   a.button {
      color: $aquarina;
      background: white;
   }
}
.background, .background-red {
   background-color: $aquarina;
   //background-blend-mode: overlay;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;

   blockquote, cite, a, p, h1, h2, h3, h4 {
      color: black;
      //text-shadow: 0px 0px 10px $cloud-black;
      span.highlight {
         background-color: white;
         box-shadow: -10px 0px 0 7px white,
           10px 0px 0 7px white,
           0 0 0 7px white;
         box-decoration-break: clone;
         &:before {
            color: grey;
         }
         &:after {
            color: grey;
         }
      }
   }
   cite {
      color: white;
   }
   a.button {
      text-shadow: none;
      background: white;
      color: $cloud-black;
   }
}
.background-red {
   background-color: $red-pinkerton;
}
.denis-labrecque-background {
   background-image: url("/Denis_Labrecque_Fence.jpg");
}

@mixin diagonal {
   display: block;
   content: "";
   height: calc(4vw + 20px); // As the window gets wider, the 4vw get taller, but the 20px are smaller in comparison to the box's tilt
   background: white;
   @include angle--both-left-right;
   opacity: 0.25;
}

.diagonal-bottom {
   @include angle--bottom-right;
   padding-top: $padding * 2;

   &::after {
      @include diagonal;
      transition: transform 1s ease-out;
   }
}
.diagonal-bottom.not-animated {
   &::after {
      transform: translateY(20px);
   }
}
.diagonal-bottom.animated {
   &::after {
      transform: translateY(0);
   }
}

.diagonal-both {
   @include angle--both-left-right;

   &::before {
      @include diagonal;
      transition: transform 1s ease-out;
   }
   &::after {
      @include diagonal;
      transition: transform 1s ease-out;
   }
}
.diagonal-both.not-animated {
   &::before {
      transform: translateY(-20px);
   }
   &::after {
      transform: translateY(20px);
   }
}
.diagonal-both.animated {
   &::before {
      transform: translateY(0);
   }
   &::after {
      transform: translateY(0);
   }
}

.diagonal-top {
   @include angle--top-left;

   &::before {
      @include diagonal;
      transition: transform 1s ease;
   }
}
.diagonal-top.not-animated {
   &::before {
      transform: translateY(-20px);
   }
}
.diagonal-top.animated {
   &::before {
      transform: translateY(0);
   }
}

.red.diagonal-bottom + section>p:first-child {
   &::first-line {
      color: $red-pinkerton;
   }
   &::first-letter {
      float: left;
      font-family: "Work Sans", sans-serif;
      font-weight: 300;
      font-size: 350%;
      padding-top: 8pt;
      padding-right: 1pt;
   }
}

blockquote {
   margin-left: 0;
   margin-right: 0;
   font-size: 16pt;
   line-height: 150%;
   font-style: italic;
   // p {
   //    font-size: 16pt;
   //    line-height: 150%;
   //    font-style: italic;
   // }

   span.highlight {
      &:before {
         content: "“";
         font-size: 200%;
         color: $bay-blue;
         font-weight: bold;
         margin-left: -12px;
      }
      &:after {
         content: "”";
         font-size: 150%;
         color: $bay-blue;
         font-weight: bold;
         margin-left: -2px;
      }
   }

   cite {
      color: $cloud-black;
      display: block;
      text-align: right;
      margin-top: 5pt;
      font-size: 12pt;
      line-height: 120%;

      &:before {
         content: "—";
      }
   }
}

.two-column {
   column: {
      count: 2;
      gap: $padding;
   }
}
@media(max-width: $breakpoint) {
   .two-column {
      column: {
         count: 1;
      }
   }
}

footer {
   background: $cloud-black;
   padding: 0 0;
   h2, h3, p, ul, ol, small {
      color: white;
      -webkit-text-fill-color: white;
      background: unset;
   }
   h3 {
      margin-bottom: 12pt;
   }
   ul {
      margin: 0 0;
      padding-left: 0;
   }
   li {
      list-style-type: none;
   }
   
   a {
      color: white;
      border-bottom: none;

      &:active {
         border-bottom: none;
      }
   }
}
.grid-3 {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 30%));
   grid-gap: 1rem;
}
@media(max-width: $breakpoint) {
   .grid-3 {
      display: block;
   }
   .grid-item {
      margin-top: $padding;
      &:first-of-type {
         margin-top: 0;
      }
   }
}
small {
   display: block;
   font-size: 12pt;
   text-align: left;
   margin-top: $padding;
   opacity: 0.7;

   img {
      margin-bottom: -10px;
      margin-right: 10px;
      width: auto;
      height: 30px;
      opacity: 1;
   }
}



.card {
   width: auto;
   border: none;
   display: block;
}
a.card {
   padding: 0 0;
   margin: 0 0;
   //transition: background-image 0.2s ease;

   p {
      color: grey;
      font-weight: 500;
   }

   &:hover {
      border-bottom: none;
      //background: whitesmoke;

      h3 {
         text-decoration: underline;
         background: linear-gradient(to right, $red-pinkerton, $orangerine);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
      }
      p {
         text-decoration: underline;
      }
   }

   h3 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
      text-align: center;
      margin-bottom: 0;
      margin-top: 5px;
   }
   h3 ~ p {
      margin-top: 0;
   }
   p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;  
      overflow: hidden;
   }
   img {
      width: 100%;
   }

   picture {
      height: 0;
      padding-top: 80%;
      border: 1px solid purple;
      width: 100%;
      // aspect-ratio: 4 / 3;// would work in modern browsers, but not supported yet
      min-height: 0;

      img {
         size: auto;
      }
   }
}

.card-grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: $padding;
}
@media(max-width: $breakpoint) {
   .card-grid {
      grid-template-columns: 1fr;
   }
}



label {
   line-height: 200%;
   display: block;
   margin-bottom: 0;
   margin-top: 5pt;
}
.red label {
   color: white;
}
input, textarea {
   padding: 5pt;
   width: 100%;
   display: block;
   border: none;
   outline: none;
   border-radius: 0;
   background-color: whitesmoke;
}
textarea {
   resize: none;
   height: 100%;
   min-height: 300px;
   overflow-y: scroll;

   &:focus {
      border: none;
      outline: none;
      border-radius: 0;
   }
}



/** figure images **/
figure {
   margin: $padding 0;
   padding: 0;

   img {
      width: 100%;
      background-color: whitesmoke;
   }

   figcaption {
      font-family: Arimo, sans-serif;
      font-weight: 600;
      color: grey;
      margin: 5pt;
      margin-left: $padding;
      margin-right: $padding;
      text-align: left;
   }
}



/** menu **/

nav.menu {
  @include angle--bottom-right;
  padding: 15px 20px 30px 30px;
  padding-left: $padding;
  position: absolute;
  background: whitesmoke;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 1;
   position: fixed;
   display: grid;
   grid-template-columns: min-content auto;
   grid-gap: $padding;

  a {
     color: $red-pinkerton;
     font-weight: bold;

     &::after {
        background: none;
     }

     &:hover {
        color: $cloud-black;
     }
     &:active {
        opacity: 0.75;
     }
  }

  ul.not-revealed {
     display: none;
  }
  ul.revealed {
     display: block;
  }
  ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     margin-top: 10px;
     display: grid;
     grid-gap: $padding;
     grid-template-columns: min-content min-content min-content;
  }
}
// Narrower for phone width screens
@media(max-width: 520px) {
   nav.menu {
      padding-left: 5vw;
      grid-gap: 5vw;
      ul {
         grid-gap: 5vw;
      }
   }
}
// Center at wide frames
@media(min-width: $breakpoint) {
   nav.menu {
      padding-left: calc(50vw - (600px / 2));
      padding-right: calc(50vw - (600px / 2));
      //max-width: 800px;
      //margin-left: auto;
      //margin-right: auto;
   }
}

#logo-button {
   margin-left: -5px;

   &:hover {
      opacity: 0.75;
   }
}


// Syntax highlights
pre {
   padding: $border;
   background-color: $cloud-black;
}

// Circle animation for email sending
// https://stackoverflow.com/questions/53332736/pure-css-drawing-circle-animation
.circle__box {
   width: 200px;
   height: 200px;
   margin: 50px auto;
   position: relative;
 }
 .circle__box.hidden {
    display: none;
 }
 .circle__box p {
    font-weight: bold;
    display: block;
    text-align: center;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
 }
 
 .circle__wrapper {
   width: 100px;
   height: 200px;
   position: absolute;
   top: 0;
   overflow: hidden;
 }
 
 .circle__wrapper--right {
   right: 0;
 }
 
 .circle__wrapper--left {
   left: 0;
 }
 
 .circle__whole {
   width: 180px;
   height: 180px;
   border: 10px solid transparent;
   border-radius: 50%;
   position: absolute;
   top: 0;
   transform: rotate(-135deg);
 }
 
 .circle__right {
   border-top: 10px solid $red-pinkerton;
   border-right: 10px solid $red-pinkerton;
   right: 1px;
   animation: circleRight 1s linear forwards;
 }
 
 .circle__left {
   border-bottom: 10px solid $red-pinkerton;
   border-left: 10px solid $red-pinkerton;
   left: 1px;
   animation: circleLeft 1s linear forwards;
 }
 
 @keyframes circleRight {
   0% {
     transform: rotate(-135deg);
   }
   50%,
   100% {
     transform: rotate(45deg);
   }
 }
 
 @keyframes circleLeft {
   0%,
   50% {
     transform: rotate(-135deg);
   }
   100% {
     -webkit-transform: rotate(45deg);
   }
 }