@import "angled-edges.scss";
@keyframes bugfix { from {padding:0;} to {padding:0;}}
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}}

$button-width: 30px;
$line-thickness: 3px;

#logo-button {
  position: fixed;
  z-index: 5;
}



nav.menu {
  @include angle--bottom-right;
  padding: 30px 20px 40px 30px;
  position: absolute;
  background: white;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 1;
  display: grid;


  a {
     color: white;

     &::after {
        background: none;
     }
  }

  ul.not-revealed {
     display: none;
  }
  ul.revealed {
     display: block;
  }
  ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     display: grid;
     grid-template-columns: auto auto auto auto; // TODO
  }
}