{{ define "title" }}
  {{ .Title }} &mdash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
{{ partial "pageTitle" (dict "context" . "title" .Title "subtitle" .Params.subtitle "headline" .Params.headline "image" .Params.image "ctaTitle" .Params.ctaTitle "ctaLink" .Params.ctaLink )}}

{{ if .Params.blank }}
  {{ .Content }}
{{ else }}
  <section class="margined">
    {{ if .IsTranslated }}
      {{ range .Translations }}
        {{ if ne site.Language .Language }}
        <p><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></p>
        {{ end }}
      {{ end }}
    {{ end }}
    {{ .Content }}

    <!-- Facebook comments -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/{{ .Language }}_CA/sdk.js#xfbml=1&version=v10.0&appId=430626037268466&autoLogAppEvents=1" nonce="SS03bYOp"></script>
    <div class="fb-comments" data-href="http://denislabrecque.ca{{ .Permalink }}" data-width="100%" data-numposts="5"></div>
  </section>
  {{ end }}
{{ end }}