<footer class="diagonal-top anim-top-top">
    <div class="margined">
       <nav class="grid-3">
          <div class="grid-item">
             <h3>Network</h3>
             <ul>
                <li><a href="https://www.linkedin.com/in/denisglabrecque/">LinkedIn</a></li>
                <li><a href="https://www.youtube.com/channel/UCw3D6IUqE0sQk_ULQEJJkhw">YouTube</a></li>
                <li><a href="https://www.facebook.com/DenisGLabrecque/">Facebook</a></li>
             </ul>
          </div>
          <div class="grid-item">
             <h3>Navigation</h3>
             <ul>
                <li><a href="/programming/">Programming</a></li>
                <li><a href="/graphics/">Graphics</a></li>
             </ul>
          </div>
          <div class="grid-item">
             <h3>Information</h3>
             <ul>
                <li><a href="/about/">About</a></li>
                <li><a href="/resume/">Résumé</a></li>
             </ul>
          </div>
       </nav>
 
       <small>
          <img src="/icon.png" alt="D L logo" width="32" height="39.5" />
          Denis Labrecque © {{ now.Format "2006" }}</small>
    </div>
 </footer>