<head>
  <meta charset="utf-8">
  <link rel="icon" href="/icon-red.png" />
  {{ $title := "" }}
  {{ if eq (string .Page.Params.Title) "" }}
    {{ $title = "Denis Labrecque"}}
  {{ else if eq (string .Page.Params.Subtitle) "" }}
    {{ $title = .Page.Params.Title }}
  {{ else }}
    {{ $title = printf "%s: %s" .Page.Params.Title .Page.Params.Subtitle }}
  {{ end }}
  <title>{{ $title }}</title>
  <meta property="og:title" content="{{ $title }}" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="content-language" content="{{ site.Language.Lang }}-ca" />
  <meta name="description" content="{{ .Page.Params.headline }}" />
  <meta name="image" content="/{{ .Page.Params.image }}" />
  <meta property="og:image" content="/{{ .Page.Params.image }}"/>

  {{ $sass := resources.Get "sass/dgl.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $sass.Permalink }}" />

  <!-- Clarity tracking code for http://denislabrecque.ca/ -->
  <script>
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "63pa01tjtd");
  </script>
</head>
{{ $js := resources.Get "js/anim.js" }}
<script src="{{ $js.Permalink }}" defer></script>