<head>
  <meta charset="utf-8">
  <link rel="icon" href="/icon-red.png" />
  <title>Denis Labrecque</title>

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="content-language" content="{{ site.Language.Lang }}-ca" />
  <meta name="description" content="{{ .Page.Params.headline }}" />
  <meta name="image" content="/{{ .Page.Params.image }}" />

  {{ $sass := resources.Get "sass/dgl.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $sass.Permalink }}" />
</head>
{{ $js := resources.Get "js/anim.js" }}
<script src="{{ $js.Permalink }}" defer></script>