<nav class="menu">
    <div>
       <a href="/" id="logo-button" class="overlay-button">
          <img src="/icon-red.png" width="38" height="38" />
       </a>
    </div>
 
    <ul id="menu-bar">
       <li><a href="/programming/">Programming</a></li>
       <li><a href="/graphics/">Graphics</a></li>
       <li><a href="/about/">About</a></li>
    </ul>
    
    <!-- <script>
       function menuClick(element) {
          console.log("menu click" + element)
          let menuBar = document.querySelector("#menu-bar");
 
          if(element.classList.contains("not-clicked")) {
             element.classList.remove("not-clicked")
             element.classList.add("clicked")
             menuBar.classList.remove("not-revealed")
             menuBar.classList.add("revealed")
          }
          else {
             element.classList.remove("clicked")
             element.classList.add("not-clicked")
             menuBar.classList.remove("revealed")
             menuBar.classList.add("not-revealed")
          }
       }
    </script> -->
 </nav>