
{{/* Represents a page title heading. Has a required title, subtitle, and headline. An optional CTA link and title can be used. */}}
{{/* title */}}
{{/* subtitle */}}
{{/* headline */}}
{{/* image */}}
{{/* ctaTitle */}}
{{/* ctaLink */}}

{{ $img := resources.GetMatch .image }}
<section class="red diagonal-bottom">
   <meta name="image" content="/{{ .image }}" />
   <div class="margined">
      <header>
         <h1>{{ .title }}</h1>
         <p>{{ .subtitle }}</p>
      </header>
      {{ if .headline }}
      <p>{{ .headline }}</p>
      {{ end }}
      {{ if .ctaLink }}
      <a class="button anim-top-bottom" href="{{ .ctaLink }}">{{ .ctaTitle }}</a>
      {{ end }}
   </div>
 </section>