<!DOCTYPE html>
{{ partial "head"}}

<body>
{{ partial "navMenu" }}

{{ partial "pageTitle" (dict "context" . "title" "Denis Labrecque" "subtitle" "Programming and graphics" "headline" "Denis studies Graphic Design and Information Technology at Pensacola Christian College. He has been successful on all semesters of attendance and is preparing to graduate cum laude in December 2020. After his education, he hopes to continue as a programmer." "ctaTitle" "Résumé" "ctaLink" "resume")}}

<section>
   <div class="margined">
      <h2>Programming Projects</h2>
      <div class="card-grid rellax">
         {{ partial "cardlist" (dict "context" . "section" "programming") }}
      </div>
      <a class="button slide-anim" data-anim="bottom top" href="/programming/">More</a>
   </div>
</section>

<section class="blue diagonal-both" data-anim="bottom top">
   <div class="two-column margined slide-anim" data-anim="bottom top">
      <div class="ignore-columns">
         <p class="hero">Need help programming an app?</p>
      </div>
      <div>
         <p>Denis has personal experience making websites and apps. For example, he has published Minesweeper Basic and Receptus, and is currently working on Warglobe, a video game.</p>
         <p>Whether it is a complex application developed by a team, or a simple app, he can most likely help you on your project.</p>
      </div>
      <div class="ignore-columns">
         <a class="button" href="/about/#contact">Contact Denis</a>
      </div>
   </div>
</section>

<section class="margined">
      <blockquote class="slide-anim" data-anim="bottom top">
         <span class="highlight">Denis a is very willing learner and takes on tasks with enthusiasm. He is diligent in his work and always has a positive attitude. I enjoyed working with him, and think he would be an asset to any company.</span>
         <cite>Silas Miller, Web Developer for Abeka</cite>
      </blockquote>
</section>

<!-- <section class="diagonal-both background" style="background-image: url('/Denis_Labrecque_Fence.jpg')">
   <div class="margined">
      <blockquote>
         <span class="highlight">If I had to describe Denis in two words, I would say would say hard-working and creative. His desire to always find the best solution to the problem is truly one of his talents.</span>
         <cite>Maxime Pronovost, Owner of Studio Grafik</cite>
      </blockquote>
      <a class="button slide-anim" data-anim="bottom top" href="/about/">About Denis</a>
   </div>
</section> -->

<section class="margined" data-anim="top top">
      <h2>Graphical Projects</h2>
      <div class="card-grid">
         {{ partial "cardlist" (dict "context" . "section" "graphics") }}
      </div>
      <a class="button slide-anim" data-anim="bottom top" href="/graphics/">More</a>
</section>

<section class="blue diagonal-both" data-anim="bottom top">
   <div class="two-column margined slide-anim" data-anim="bottom top">
      <div class="ignore-columns">
         <p class="hero">Need help with graphics?</p>
      </div>
      <div>
         <p>Denis is experienced with graphics. He has ample experience in CSS/SASS for websites. He also has experience with advertisements, print design, video editing, and creating user interfaces.</p>
         <p>Design is not only functional, but also integral to the “pop” that gets you noticed in today's competitive market. See how a purposeful layout can help you reach your target audience.</p>
      </div>
      <div class="ignore-columns">
         <a class="button" data-anim="bottom top" href="/about/#contact">Contact Denis</a>
      </div>
   </div>
</section>

<section>
   <div class="margined">
      <blockquote class="slide-anim" data-anim="bottom top">
         <span class="highlight">[Denis] has distinguished himself with great attention to detail, both suggesting and implementing numerous improvements to our web site. In addition, he has shown great flexibility, willingly assisting with some incredibly “boring” but essential upgrade work to site libraries and structure.</span>
         <cite>Norm Hansen, Abeka Programming Team Leader</cite>
      </blockquote>
   </div>
</section>

{{ partial "footer" . }}

</body>