<!DOCTYPE html>
{{ partial "head"}}

<body>
{{ partial "navMenu" }}

{{ partial "pageTitle" (dict "context" . "title" "Denis Labrecque" "subtitle" "Programmation et graphisme" "headline" "Étudiant finissant en design graphique et en technologie de l’information, ayant des expériences pratiques en graphisme et en programmation." "ctaTitle" "Résumé" "ctaLink" "resume")}}

<section>
   <div class="margined">
      <h2>Projets en programmation</h2>
      {{ partial "cardlist" (dict "context" . "section" "programming") }}
   </div>
</section>

<section class="blue diagonal-both" data-anim="bottom top">
   <div class="two-column margined slide-anim" data-anim="bottom top">
      <div class="ignore-columns">
         <p class="hero">Besoin d'aide en programmation?</p>
      </div>
      <div>
         <p>Denis a des expériences personelles en programmation web et en applications. Que ce soit une application complèxe développée par une équipe, ou une application simple, il peut vous aider à compléter votre projet.</p>
      </div>
      <div class="ignore-columns">
         <a class="button" href="/fr/about/">Contacter</a>
      </div>
   </div>
</section>

<section class="margined">
      <blockquote class="slide-anim" data-anim="bottom top">
         <span class="highlight">Denis a is very willing learner and takes on tasks with enthusiasm. He is diligent in his work and always has a positive attitude. I enjoyed working with him, and think he would be an asset to any company.</span>
         <cite><a href="https://www.linkedin.com/in/silas-miller-2a32079a/">Silas Miller</a>, développeur web pour Abeka</cite>
      </blockquote>
</section>

<!-- <section class="diagonal-both background" style="background-image: url('/Denis_Labrecque_Fence.jpg')">
   <div class="margined">
      <blockquote>
         <span class="highlight">If I had to describe Denis in two words, I would say would say hard-working and creative. His desire to always find the best solution to the problem is truly one of his talents.</span>
         <cite>Maxime Pronovost, Owner of Studio Grafik</cite>
      </blockquote>
      <a class="button slide-anim" data-anim="bottom top" href="/about/">About Denis</a>
   </div>
</section> -->

<section class="margined" data-anim="top top">
      <h2>Projets graphiques</h2>
      {{ partial "cardlist" (dict "context" . "section" "graphics") }}
</section>

<section class="blue diagonal-both" data-anim="bottom top">
   <div class="two-column margined slide-anim" data-anim="bottom top">
      <div class="ignore-columns">
         <p class="hero">Besoin d'aide en graphisme?</p>
      </div>
      <div>
         <p>Denis est expérimenté en graphisme. Il a d'amples connaissances en styles CSS/SASS pour le web. Il a aussi de l'expérience en publicités, design d'impression, édition vidéo, et en création d'interfaces utilisateur.</p>
         <p>Le design, c'est non seulement fonctionnel, c'est aussi ce qui vous fait ressortir en donnant le flair qui vous fait aperçevoir dans le marché compétitif d'aujourd'hui. Voyez comment une bonne mise en page vous aidera à atteindre votre public cible.</p>
      </div>
      <div class="ignore-columns">
         <a class="button" data-anim="bottom top" href="/fr/about/">Contacter</a>
      </div>
   </div>
</section>

<section>
   <div class="margined">
      <blockquote class="slide-anim" data-anim="bottom top">
         <span class="highlight">[Denis] has distinguished himself with great attention to detail, both suggesting and implementing numerous improvements to our web site. In addition, he has shown great flexibility, willingly assisting with some incredibly “boring” but essential upgrade work to site libraries and structure.</span>
         <cite>Norm Hansen, Abeka Programming Team Leader</cite>
      </blockquote>
   </div>
</section>

{{ partial "footer" . }}

</body>